body {
margin:0px;
padding:0px;
width:100%;
}

nav {
  background-color: #3295FF;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-family: "Tahoma", Geneva, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #FFF;
  padding: 10px;
  float: left;
  display: inline-block;
}

a:hover {
  background-color: #256EBD;
}

a:visited {
  color: #000;
}

h1, h2, h3, p {
  padding: 10px;
}


/* ID's */

#courses {
  float: left;
  width: 45%;
}

#skills {
  float: right;
  width: 45%;
}

/*Classes*/

.break {
  margin: 0px; 
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
}



