body {
margin:0px;
padding:0px;
width:100%;
background-image: url("GC.JPG");
}

nav {
  background-color: #3295FF;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

a {
  text-decoration: none;
  font-family: "Tahoma", Geneva, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #FFF;
  padding: 10px;
  display: inline-block;
  float: right;
}

a:hover {
  background-color: #256EBD;
}

a:visited {
  color: #000;
}

h1, h2, h3 {
  padding: 10px;
  text-align: center;
}

p {
  padding: 10px;
}


/* ID's */

#courses {
  float: left;
  width: 30%;
  overflow: auto;
}

#skills {
  float: left;
  width: 30%;
}

#languages {
  float: left;
  width: 30%;
}

#intro {
  float: right;
  width: 40%;
}

#myPhoto {
  float: left;
  width: 40%;
}

#container {
  background: #FFF;
}

#header {
  position: absolute;
  top: 0; 
  left: 0; 
  height: 100%; 
  width: 100%;
}

/*Classes*/

.break {
  margin: 0px; 
  display: inline-block;
  float: left;
  top: 33px;
  position: relative;
}



