html, body {
    min-height: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
    width:100%;
}

body {
    background-color: #FFF;
}

nav {
  background-color: #3295FF;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

a {
  text-decoration: none;
  font-family: "Tahoma", Geneva, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #FFF;
  padding: 10px;
  display: inline-block;
  float: right;
}

a:hover {
  background-color: #256EBD;
}

a:visited {
  color: #000;
}

h1 {
    margin: 0px;
    padding: 0px;
}

h2, h3 {
  padding: 10px;
  text-align: center;
}

p {
  padding: 10px;
}


/* ID's */

#courses {
  float: left;
  width: 30%;
  overflow: auto;
}

#skills {
  float: left;
  width: 30%;
}

#languages {
  float: left;
  width: 30%;
}

/*#welcome {
  float: right;
  width: 40%;
}*/

#myPhoto {
  float: left;
  width: 40%;
}

/*#container {
  background: #FFF;
  bottom: 0px;
}*/

#header {
  top: 0; 
  left: 0; 
  height: 100%; 
  width: 100%;
  text-align: center;
  background-image: url("GC.JPG");
  background-size: 100%;
}

#welcome {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*Classes*/

.break {
  margin: 0px; 
  display: inline-block;
  float: left;
  top: 33px;
  position: relative;
}

/* Animations */

#welcome {
    display:inline-block;
    overflow: hidden; 
        /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; 
        /* The typwriter cursor */
    white-space: nowrap; 
        /* Keeps the content on a single line */
    margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */

    letter-spacing: .15em; 
        /* Adjust as needed */
    animation: 
        typing 3.5s steps(40,end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: step-end }
  to { width: steps(-8) }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}



